.App {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  display: flex;
  height: 70px;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* background-color: aqua; */
}

#headerContent{
  display: flex;
  width: 90%;
  align-items: center;
}

#content{
  flex: 1;
  display: flex;
  justify-content: center;
  width: 100%;
}