.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  display: flex;
  height: 70px;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

#headerContent{
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
}

#content{
  flex: 1;
  display: flex;
  justify-content: center;
  width: 100%;
}