#navbar {
    display: flex;
    justify-content: center;
    height: 70px;
    width: 100%;
}

#navbar-wrapper{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}